.numberlist{
  margin-top: 1% !important;
  width: 60%;
  margin: 0 auto;
  background-color: aquamarine;
  border: 1px solid #ddd;
  
  a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;	
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    color:#FFF;
  }

  ol {
    counter-reset: li;
    list-style: none;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
  }
			
  a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #FFF;
    color: #444;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
  }

  a:hover{
				background: #cbe7f8;
				text-decoration:underline;
			}
}

.title {
  padding: 2%;
  background-color: #0066b3;
  color: #fff68f;
  width: 100%;
  margin-left: -2%;
  margin-top: -2%;
  text-transform: initial;
  font-size: larger;
}