<header class="title">
  <h2 align="center">Welcome to Infinite List</h2>  
</header>  

<div style="margin-top: 2%;">
  {{#infinite-list height="75vh" loadMore=(action "loadMoreData") as |items| }}
    <div class="numberlist">
      <ol>
        {{#each items as |item|}}
          <li>
            <a>{{item.name}}</a>
          </li>
        {{/each}}
      </ol>
    </div>  
  {{/infinite-list}}
</div>  