<div class="xyz">
  <h2 id="title">Welcome to Infinite Scroll</h2>
  {{#infinite-list height="75vh" loadMore=(action "loadMoreData") as |items| }}
    <ul class="list list-activity list-offer-items">
      {{#each items as |item|}}
        <li>
          <p style="color:aliceblue;">{{item.id}} {{item.name}}</p>
        </li>
      {{/each}}
    </ul>
  {{/infinite-list}}
</div>  